<%= render :partial => "books/header_left" %> 
<%= render :partial => "books/right_col" %>  
<div id="center">
	<div class="boxed">
		<h1 class="heading"> Early books in the humanities</h1>
	  <p>We specialize in printed books and manuscripts of the sixteenth to early nineteenth centuries, with occasional forays into the incunable period. Our stock of predominantly Continental (Western European) books focuses primarily in the humanities, in the subject areas of literature, theater, poetry, education, humanism, philosophy <span class='ampersand'>&amp;</span> religion, the fine arts <span class='ampersand'>&amp;</span> music theory, popular printing, and books for women or reflecting women's social condition; we are also interested in the history of technology, particularly relating to printing, illustration and bookbinding. We seek and offer the odd, rare and unusual rather than the high spot. </p><p>
Musinsky Rare Books was founded by Nina Musinsky in 2003, after twenty years experience in the field of rare books, in curatorial positions and the antiquarian book trade. </p><p>
Our premises are an apartment-office in a residential building in Manhattan; visitors are welcome by appointment. </p>
<p style="text-align:center"><a href="http://www.abaa.org">Antiquarian Booksellers Association of America</a></p>
<p style="text-align:center"><a href="http://www.ilab.org">International League of Antiquarian Booksellers 
</a></p>
    <center>    <span style="margin-right:100px;"><img border="0" width="70" height="80" src="images/abaa.gif" alt="abaa" /></span><img border="0" width="75" height="75" src="http://www.ilab.org/img/links/ilab-lila_logo_blackonwhite.gif" alt="ilablogobonw" /></center></div>
</div>
<!-- end #center -->