<div id="right">
	<div class="boxed">
	
		<h2 class="heading">Contact </h2>
		<address>176 West 87th Street<br />
New York, NY 10024</address>

<p>Telephone 	212 579-2099<br />Fax 		212 579-8056</p>

	 <p><a href = "&#109;&#097;&#105;&#108;&#116;&#111;:&#110;&#105;&#110;&#097;&#064;&#109;&#117;&#115;&#105;&#110;&#115;&#107;&#121;&#114;&#097;&#114;&#101;&#098;&#111;&#111;&#107;&#115;&#046;&#099;&#111;&#109;">&#110;&#105;&#110;&#097;&#064;&#109;&#117;&#115;&#105;&#110;&#115;&#107;&#121;&#114;&#097;&#114;&#101;&#098;&#111;&#111;&#107;&#115;&#046;&#099;&#111;&#109;</a></p>	
	<p class="terms"><a href="#">terms and conditions </a></p></div>      <!-- end boxed-->  
</div>