<div id="right">
	<div class="boxed">
	
		<h2 class="heading">Contact </h2>
		<address>176 West 87th Street<br />
New York, NY 10024</address>

<p>Telephone 	212 579-2099<br />Fax 		212 579-8056</p>

	 <p>nina@musinskyrarebooks.com</p>	
	<p class="terms"><a href="#">terms and conditions </a></p></div>      <!-- end boxed-->  
</div>